@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root
{
  --color-primary:#191b1d;
  --background-darkMode-primary:#222527;
  --background-lightMode-Searchbar: #232527;

  --game-color-primary:#3f4345;
  --edit-color-primary:#349bce;
  --edit-hover-color-primary:#50b5e8;

  --bottom-section-padding:12rem;
  --bottom-section-padding-mobile:8rem;
  --transition:all 400ms ease;
  --container-width:84%;
  --container-width-tablet:90%;
  --container-width-phone:94%;

  --Warning: #e6af3b;
  --Error: #e63b3b;
}

*{
    border:0;
    list-style:none;
    outline:0;
    text-decoration:none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}



body{
    background:var(--background-darkMode-primary);
    font-family:Poppins,sans-serif;
    line-height:1.7
}

button {
    background-color:var(--edit-color-primary);
    border-radius: 8px;
    border: none;
    box-shadow: -3px 3px 12px -3px var(--edit-hover-color-primary);
    transition: 0.3s;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color:var(--edit-hover-color-primary);
}
button text {
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    background-color: #191b1d;
}

.navbar a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.navbar li{
    margin: 0;
    padding: 0;
    padding: 5px;
    list-style-type: none;
    display:inline-flex;
}

/* NavMenu */
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #191b1d;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    left: -15px;
    padding: 0.25em 1em 0.25em 0em;
}

.nav-menu li {
    padding: 3px 10px;
}


.nav-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;

    text-decoration: none;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

/* Banners */
.Banner {
    width: 100%;
    height: 45px;
    background-color:var(--Warning);
    background-color:var(--Error);
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.Banner h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-size: larger;
}

/* Searchbar */
.Searchbar {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    border: none;

    border-radius: 10px;
    height: 30px;
    width: 100%;
    font-weight: 600;
    
    background-color:var(--background-lightMode-Searchbar);
    color: white;
}

Searchbar:focus {
    outline: none;
}

/*/// MAIN CSS ///*/

/* Games Page */

.GamesList {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 98%;
  margin: auto;
  margin-top: 2%;
} 

.GamesList li {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
  margin: auto;
  margin-top: 2%;

  border-radius: 7px;
  background-color:var(--game-color-primary);
}

.GamesList h1 {
  display: flexbot;
  margin: auto;
  
  text-align: center;
  color: aliceblue;
}

.GamesList img {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

/* Create Page */
.CreateBox {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    padding: auto;
    width: 80%;
    height: 100%;

    background-color:var(--game-color-primary);
    border-radius: 10px;
    visibility: visible;
}

.CreateBox ul {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: auto;
    width: 80%;
    height: 100%;
}

.CreateBox li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 100px;
    width: 60%;
}

.CreateBox img {
    border-radius: 6px;
    width: 55px;
    height: 55px;
}

.CreateBox h1 {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
    font-size: x-large;
    color: #1a83ff;
}

.CreateBox button {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 7%;

    width: 20%;
    height: 35px;
    color: #edf0f1;
}

/* Login & Signup Pages */
.RegisterBox {
    background-color: #2a2d31;
    outline: none;
    border: none;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
    width: 50%;
    height: 355px;
    margin: auto;
    padding: auto;
    margin-top: 2%;
}
  
.LoginBox {
    background-color: #2a2d31;
    outline: none;
    border: none;
    box-shadow: -3px 3px 12px -3px #000000;
    border-radius: 8px;
    width: 429px;
    height: 325px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 15px;
}
  
.Signup_Text {
    margin-top: 20px;
    font-size: xx-large;
}
  
.Email_Text {
    transform: translateY(45%);
    margin: auto;
    padding: auto;
    margin-top: .5%;
}
  
.InputBar {
    width: 45%;
    height: 9%;

    border-radius: 10px;
    border-width: 0px;
    text-align: center;

    display: flex;
    align-items: center;
    margin: auto;
    padding: auto;
    margin-top: 2.5%;
}

.AccountButton {
    width: 30%;
    height: 10%;
    margin: auto;
    padding: auto;
    margin-top: 8%;
}

.AccountHeaderText {
    color: #edf0f1;
    margin: auto;
    padding: auto;
    margin-top: .5%;
}

/* Settings */

.LogoutButton {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 95%;
    margin-bottom: 1%;

    width: 50%;
    height: 50px;
}